html, body {
  margin:0px;
  padding:0px;
}

#cdt a img {
  border:0;
}

#cdt #cdt #ie-fix {
  display:none;
}

#cdt .digit {
  background-image:url(https://d29am0ph5s0t8u.cloudfront.net/production/cdt/widgets/sprites/image/1755689/oc-sprite.png?version=58cd8082-16);
  background-repeat:no-repeat;
  width:37px;
}

#cdt .digit-0 {
  background-position:-437px -87px;
}

#cdt .digit-1 {
  background-position:-474px -87px;
}

#cdt .digit-2 {
  background-position:-512px -87px;
}

#cdt .digit-3 {
  background-position:-549px -87px;
}

#cdt .digit-4 {
  background-position:-587px -87px;
}

#cdt .digit-5 {
  background-position:-624px -87px;
}

#cdt .digit-6 {
  background-position:-662px -87px;
}

#cdt .digit-7 {
  background-position:-699px -87px;
}

#cdt .digit-8 {
  background-position:-737px -87px;
}

#cdt .digit-9 {
  background-position:-774px -87px;
}

#cdt .digit-x {
  width:19px;
  background-position:-811px -71px;
}

#cdt.widget-wrapper {
  width:437px;
  height:60px;
  position:relative;
  margin:auto;
}

#cdt .content-wrapper {
  width:100%;
  height:100%;
}

#cdt .spr {
  /*background-image:url(https://d29am0ph5s0t8u.cloudfront.net/production/cdt/widgets/sprites/image/1755689/oc-sprite.png?version=58cd8082-16);*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #cdt .spr {
    background-image:url(https://d29am0ph5s0t8u.cloudfront.net/production/cdt/widgets/sprites/retina_image/1755689/oc-sprite.png?version=58cd8082-16);
    background-size:998px 225px;
  }
}

#cdt .counter-wrapper {
  width:416px;
  height:94px;
  margin-left:21px;
  border-right-width:1em;
  border-top-width:10px;
  border-right-width:1em;
  border-bottom-width:thick;
  border-left-width:thin;
}

#cdt .counter-wrapper .counter-item {
  height:54px;
  float:left;
}

#cdt .counter-wrapper .counter-item.digit-x {
  height:100px;
  margin-top:-16px;
}

#cdt .counter-wrapper .counter-group {
  height:90px;
  float:left;
  position:relative;
  overflow:hidden;
}

#cdt .counter-group .unit-label {
  position:absolute;
  height:20px;
  width:75px;
  left:0;
  top:50px;
}

#cdt .days .unit-label {
  background-position:-437px -142px;
}

#cdt .hours .unit-label {
  background-position:-512px -142px;
}

#cdt .minutes .unit-label {
  background-position:-587px -142px;
}

#cdt .seconds .unit-label {
  background-position:-661px -142px;
}

#cdt .header {
  height:0px;
  width:100%;
}

.contenedor_elementos {
  font-family:Impact, Charcoal, sans-serif;
  color:#efac2d;
  position:absolute;
  top:2rem;
  right:0px;
  left:0px;
  width:800px;
  margin:0 auto;
  padding-top:6rem;
  height:100%;
  text-align:center;
}

.cont-reloj {
  background-color:rgba(253, 233, 2,0.4);
  /*background:white;*/
  color:white!important;
}

.font-mod {
  font-family:'Arial', cursive!important;
  color:whith;
}

